{% extends "layout.html" %}

{% block title %}{{ machine["name"] }}{% endblock %}

{% block content %}

<div class="page-header">

    <div>

        <h1>🏭 {{ machine["name"] }}</h1>

        <p>{{ machine["type"] }} | {{ machine["brand"] }} | {{ machine["model"] }}</p>

    </div>

    <div>

        <a href="/machine/{{ machine['id'] }}/add-job" class="add-button">
            + Yeni İş
        </a>

        <a href="/machines" class="add-button" style="margin-left:10px;">
            ← Geri
        </a>

    </div>

</div>

<div class="cards">

    <div class="card">
        <h2>📦</h2>
        <p>İşler</p>
    </div>

    <div class="card">
        <h2>📄</h2>
        <p>Teknik Resimler</p>
    </div>

    <div class="card">
        <h2>💻</h2>
        <p>NC Programları</p>
    </div>

    <div class="card">
        <h2>📷</h2>
        <p>Fotoğraflar</p>
    </div>

    <div class="card">
        <h2>📝</h2>
        <p>Notlar</p>
    </div>

    <div class="card">
        <h2>🔧</h2>
        <p>Bakımlar</p>
    </div>

</div>

<br>

<div class="machine-card">

    <h2>Makine Bilgileri</h2>

    <br>

    <p><b>Makine Tipi:</b> {{ machine["type"] }}</p>

    <p><b>Marka:</b> {{ machine["brand"] }}</p>

    <p><b>Model:</b> {{ machine["model"] }}</p>

    <p><b>Kontrol Ünitesi:</b> {{ machine["control_unit"] }}</p>

    <p><b>Durum:</b> {{ machine["status"] }}</p>

</div>

<br>

<div class="page-header">

    <h2>📦 Yapılan İşler</h2>

</div>

{% if jobs %}

    {% for job in jobs %}

    <div class="machine-card">

        <h2>
            <a href="/job/{{ job['id'] }}" style="color:#00d4ff; text-decoration:none;">
                {{ job["job_name"] }}
            </a>
        </h2>

        <p><b>Malzeme:</b> {{ job["material"] }}</p>

        <p><b>Adet:</b> {{ job["quantity"] }}</p>

        <p><b>Üretim Tarihi:</b> {{ job["production_date"] }}</p>

        <p><b>Teslim Tarihi:</b> {{ job["delivery_date"] }}</p>

        <p><b>Durum:</b> {{ job["status"] }}</p>

    </div>

    {% endfor %}

{% else %}

<div class="machine-card">

    <h2>Henüz bu makineye ait iş bulunmuyor.</h2>

    <p>İlk işi oluşturmak için yukarıdaki <b>+ Yeni İş</b> butonunu kullan.</p>

</div>

{% endif %}


{% endblock %}