{% extends "layout.html" %}

{% block title %}NC Programı Yükle{% endblock %}

{% block content %}

<div class="page-header">

    <div>

        <h1>
            💻 NC Programı Yükle
        </h1>

        <p>
            CNC program dosyası
        </p>

    </div>


    <a
        href="/job/{{ job_id }}"
        class="add-button"
    >
        ← Geri
    </a>

</div>


{% if error == "type" %}

    <div class="error-message">

        ⛔ Bu dosya türü NC programı olarak desteklenmiyor.

    </div>

{% endif %}


{% if error == "empty" %}

    <div class="error-message">

        ⛔ Yüklenecek program dosyasını seçmelisin.

    </div>

{% endif %}


<div class="machine-card">

    <form
        method="POST"
        enctype="multipart/form-data"
    >

        <label>
            NC Program Dosyası
        </label>


        <input
            type="file"
            name="program"
            accept=".nc,.txt,.mpf,.spf,.tap,.cnc,.min"
            required
        >


        <br>
        <br>


        <p>
            NC, TXT, MPF, SPF, TAP, CNC ve MIN dosyaları desteklenir.
        </p>


        <br>


        <button
            type="submit"
            class="add-button"
        >
            💻 Programı Yükle
        </button>

    </form>

</div>

{% endblock %}