{% extends "layout.html" %}

{% block title %}Katı Model Yükle{% endblock %}

{% block content %}

<div class="page-header">

    <div>

        <h1>
            🧊 Katı Model Yükle
        </h1>

        <p>
            STEP, NX, Parasolid ve IGES modelleri
        </p>

    </div>


    <a
        href="/job/{{ job_id }}"
        class="add-button"
    >
        ← Geri
    </a>

</div>


{% if error == "type" %}

    <div class="error-message">

        ⛔ Bu dosya türü katı model olarak desteklenmiyor.

    </div>

{% endif %}


{% if error == "empty" %}

    <div class="error-message">

        ⛔ Yüklenecek dosyayı seçmelisin.

    </div>

{% endif %}


<div class="machine-card">

    <form
        method="POST"
        enctype="multipart/form-data"
    >

        <label>
            Katı Model Dosyası
        </label>


        <input
            type="file"
            name="model"
            accept=".step,.stp,.prt,.x_t,.x_b,.igs,.iges,.sat"
            required
        >


        <br>
        <br>


        <p>
            <b>Desteklenen dosyalar:</b>
        </p>


        <p>
            STEP:
            .step / .stp
        </p>


        <p>
            Siemens NX:
            .prt
        </p>


        <p>
            Parasolid:
            .x_t / .x_b
        </p>


        <p>
            IGES:
            .igs / .iges
        </p>


        <p>
            ACIS:
            .sat
        </p>


        <br>


        <button
            type="submit"
            class="add-button"
        >
            🧊 Modeli Yükle
        </button>

    </form>

</div>

{% endblock %}